<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>EEG Analysis Dashboard</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .status-indicator {
      color: white;
      margin-bottom: 10px;
      font-weight: bold;
    }

    .plot-container img {
      margin-bottom: 20px;
    }
  </style>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <!-- Left Panel -->
      <div class="col-md-3 bg-dark text-white" style="height: 100vh; overflow-y: auto;">
        <h1>EEG Analysis</h1>
        <!-- Alert section for showing flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="alert-container">
              {% for category, message in messages %}
                <div class="alert alert-{{ category }} mt-3">
                  {{ message }}
                </div>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
            <form method="POST" action="/" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="file">Upload EEG File (.edf)</label>
                    <input type="file" class="form-control-file" name="file" required>
                </div>

                <!-- Additional Input Fields for OpenAI Prompt -->

                <input type="submit" class="btn btn-primary" value="Upload">
            </form>
        {% if max_time > 0 %}
        <form>
          <div class="form-group mt-4">
            <label for="plot_type">Select Analysis</label>
            <select name="plot_type" id="plot_type" class="form-control" onchange="updatePlotType()">
                <option value="raw">Raw EEG</option>
                <option value="cleaned">ICA Cleaned EEG</option>
                <!--<option value="ica_properties">ICA Components</option> -->
                <option value="decrease_brain_power">Decreased Combined Power</option>
                <option value="decrease_brain_power_bandwise">Decreased Brain Power Bandwise</option>
                <option value="increase_brain_power">Increased Combined Power</option>
                <option value="increase_brain_power_bandwise">Increased Brain Power Bandwise</option>
                <option value="abs_power_spectra_lines">Absolute Power Spectra Line Graphs</option>
                <option value="abs_power_spectra_topo">Absolute Power Spectrum Topomaps</option>
                <option value="rel_power_spectra_lines">Relative Power Spectra Line Graphs</option>
                <option value="rel_power_spectra_topo">Relative Power Spectrum Topomaps</option>
                <option value="theta_beta_ratio">Theta-Beta Ratio</option>
                <option value="asymmetry">Asymmetry Analysis</option>
                <option value="brodmann_dorsolateral">Dorsolateral Prefrontal Cortex</option>
                <option value="brodmann_findings">Brodmann Findings</option>
            </select>
          </div>
          

          <div class="form-group">
            <label for="start_time">Navigate EEG Data</label>
            <input type="range" class="slider" id="start_time" name="start_time" min="0" max="{{ max_time }}" step="1" oninput="updateSlider()">
          </div>
        </form>
        {% endif %}
      </div>

      <!-- Right Panel -->
      <div class="col-md-9">
          {% if max_time > 0 %}
          <div class="plot-container">
              <h2>EEG Plot</h2>
              <!-- Change 'plot-image' to match the ID in the JavaScript -->
              <img id="plot-image" src="" alt="EEG Plot" class="img-fluid">
          </div>
          <!-- Add a new div to display the EEG report -->
          {% endif %}
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
  <script>
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    function debounce(func, wait) {
      let timeout;
      return function(...args) {
        const later = () => {
          clearTimeout(timeout);
          func(...args);
        };
        clearTimeout(timeout);
        timeout = setTimeout(later, wait);
      };
    }

    function updatePlotType() {
      debouncedUpdateSlider();
    }

    function updateSlider() {
      let sliderValue = document.getElementById("start_time").value;
      let plotType = document.getElementById("plot_type").value;

      socket.emit('slider_update', {
        start_time: sliderValue,
        plot_type: plotType
      });
      }
    const debouncedUpdateSlider = debounce(updateSlider, 300);

    document.getElementById("start_time").oninput = debouncedUpdateSlider;

    socket.on('update_plot', function (data) {
        if (data.plot_url) {
            document.getElementById('plot-image').src = 'data:image/png;base64,' + data.plot_url;
        }

        if (data.raw_report) {
            document.getElementById('report-text').innerText = data.raw_report;
            // Ensure the report container is visible when there is a report
            document.getElementById('report-container').style.display = 'block';
        }
        if (data.raw_medical_report) {
            document.getElementById('report-medical-text').innerText = data.raw_medical_report;
            // Ensure the report container is visible when there is a report
            document.getElementById('report-medical-container').style.display = 'block';
        }
    });

  </script>

</body>

</html>
